<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">

      <h5 class="my-4 ml-3 px-2 border bg-light">商品一覧</h5>

        <table>
          <thead class="border bg-light">
            <tr>
              <th class="px-3"><h6>商品ID</h6></th>
              <th class="px-3"><h6>商品名</h6></th>
              <th class="px-3"><h6>税抜価格</h6></th>
              <th class="px-3"><h6>ジャンル</h6></th>
              <th class="px-3"><h6>ステータス</h6></th>
            </tr>
          </thead>
          <tbody>
            <% @item.each do |item|%>
            <tr>
              <td class="px-3"><p><%= item.id %></p></td>
              <td class="px-3"><p><%= link_to item.name, admin_item_path(item.id) %></p></td>
              <td class="px-3"><p><%= item.price %></p></td>
              <td class="px-3"><p><%= item.genre.name %></p></td>
              <td class="px-3"><p><% if item.is_active %>
                       <p class="text-success">販売中</p>
                     <% else %>
                       <p class="text-muted">販売停止中</p>
                     <%end%></p></td>
            </tr>
            <% end %>
          </tbody>
        </table>

    </div>
  </div>
</div>
