<div>
  <div>
    <div>
      <h5>会員一覧</h5>

        <div>
          <div>
            <div>

              <table>
                <thead>
                  <tr>
                    <th><h6>会員ID</h6></th>
                    <th><h6>氏名</h6></th>
                    <th><h6>メールアドレス</h6></th>
                    <th><h6>ステータス</h6></th>
                  </tr>
                </thead>
                <tbody>
                  <% @customer.each do |customer|%>
                  <tr>
                    <td><p></p></td>
                    <td><p><%= customer.name %></p></td>
                    <td><p><%= customer.email %></p></td>
                    <td><p> </p></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
          </div>
       </div>

    </div>
  </div>
</div>