<div class="container">
  <div class="row">
    <div class="mx-auto col-xl-11">
      <h5 class="mt-2">ジャンル編集</h5>

      <%= form_with model: @genre, url:admin_genre_path, method: :PATCH do |f| %>
        <label for="genre_name">ジャンル名</label>
        <%= f.text_field :name, autofocus: true, id:"genre_name", placeholder:"名前" %>
          <%= f.submit "変更を保存" %>
        <% end %>
    </div>
  </div>
</div>